/** {
    box-sizing: border-box;
    border: 1px solid deepskyblue;
}*/


/**********/
/* Colors */
/**********/

.navbar-toggle {
    border-color: #fff !important;
    background-color: #222 !important;
}

.navbar-brand {
    color: #61dafb !important;
}

.navbar-nav a {
    color: #fff !important;
}

.navbar-nav a:hover, .navbar-nav a:focus, .navbar-nav a:active {
    color: #61dafb !important;
}

h1 {
    color: #514a9d;
}

a:hover {
    text-decoration: none;
    color: #514a9d;
}

.home-jumbotron h1 {
    color: #fff;
}

.home-jumbotron h1::first-letter {
    font-weight: bold;
    color: #333;
}

/***********************************/
/* For displays larger than 1199px */
/***********************************/
body {
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
}

.content {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 1024px;
    margin: auto;
    padding: 30px;
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 50px;
    z-index: 1;
}

.navbar {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.navbar-container {
    width: 1024px;
    margin: auto;
}

.navbar-brand {
    width: auto;
    margin: 0 15px;
    padding-top: 17.5px;
    font-size: 30px;
}

.navbar-nav {
    padding-top: 1.5px;
    height: 50px;
    float: right;
}

.jumbotron-container {
    width: 100%;
    height: calc(480px - 50px);
    background-image: linear-gradient(-20deg, #24c6dc 0%, #514a9d 100%);
}

.home-jumbotron {
    display: flex;
    height: 100%;
    width: 1024px;
    margin: auto;
    padding: 30px;
    background: url('../images/Home/dinghy.svg') no-repeat 15% center;
    background-size: 40%;
    align-items: center;
    justify-content: flex-end;
}

.home-jumbotron div {
    width: 375px;
    padding: 60px;
}

/************************************/
/* For displays smaller than 1024px */
/************************************/
@media (max-width: 1023px) {
    .navbar-container, .home-jumbotron, .container {
        width: 100%;
    }
}

/***********************************/
/* For displays smaller than 768px */
/***********************************/
@media (max-width: 767px) {
    .navbar-toggle {
        float: left;
        margin: 8px 15px;
    }

    .navbar-brand {
        width: calc(100% - 148px);
        margin: 0;
        text-align: center;
        font-size: 25px;
    }

    .navbar-collapse-container {
        height: 100vh;
        padding: 20.5px 22px;
    }

    .navbar-nav {
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 17px;
    }

    .navbar-nav a {
        display: flex !important;
        width: 100%;
        height: 50px;
        margin: 0;
        padding: 0 !important;
        align-items: center;
        border-bottom: 1px solid;
    }

    .home-jumbotron {
        background: none;
    }

    .home-jumbotron div {
        width: 242.5px;
        margin: auto;
        padding: 0;
    }

    .container {
        padding: 15px;
    }
}
